<h2>Create Offer</h2>

<form method="POST" enctype="multipart/form-data">

<input
name="title"
placeholder="Offer Title"
class="border p-2 w-full mb-3"
>

<textarea
name="offerDetails"
placeholder="Offer Details"
class="border p-2 w-full mb-3"
></textarea>

<input
name="discountValue"
placeholder="Discount %"
class="border p-2 w-full mb-3"
>

<label>Valid From</label>
<input
type="date"
name="validityFrom"
class="border p-2 w-full mb-3"
>

<label>Valid To</label>
<input
type="date"
name="validityTo"
class="border p-2 w-full mb-3"
>

<input
type="file"
name="image"
class="border p-2 w-full mb-3"
>

<button class="bg-blue-600 text-white px-4 py-2">
Save
</button>

</form>