<h2 class="text-2xl font-bold mb-4">Dashboard</h2>

<div class="grid grid-cols-4 gap-4">
  <div class="bg-white p-6 shadow rounded">
    Branches
    <h3 class="text-xl">10</h3>
  </div>

  <div class="bg-white p-6 shadow rounded">
    Rooms
    <h3 class="text-xl">120</h3>
  </div>

  <div class="bg-white p-6 shadow rounded">
    Bookings
    <h3 class="text-xl">300</h3>
  </div>

  <div class="bg-white p-6 shadow rounded">
    Reviews
    <h3 class="text-xl">40</h3>
  </div>
</div>
