<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= typeof title !== "undefined" ? title : "Admin Dashboard" %>
    </title>

    <link rel="stylesheet" href="/css/admin.build.css" />
  </head>

  <body class="bg-gray-100">
    <div class="flex">
      <!-- Sidebar -->
      <%- include('sidebar') %>

      <main class="p-6 flex-1 max-w-7xl mx-auto"><%- body %></main>
    </div>

    <script src="/js/admin.js"></script>
  </body>
</html>
