<div class="mb-6">
  <h2 class="text-2xl font-bold">Create Review</h2>

  <p class="text-gray-500 text-sm">Add your guests top reviews</p>
</div>

<div class="card max-w-2xl">
  <form method="POST" class="space-y-4">
    <div>
      <label class="block text-sm mb-1"> Guest Name </label>
      <input
        name="guestName"
        placeholder="Guest Name"
        required
        class="w-full border p-3 rounded"
      />
    </div>

    <div>
      <label class="block text-sm mb-1"> Rating </label>
      <input
        type="number"
        name="rating"
        min="1"
        max="5"
        required
        placeholder="Rating (1-5)"
        class="border p-2 rounded w-full"
      />
    </div>

    <div>
      <label class="block text-sm mb-1"> Location </label>
      <input
        name="location"
        placeholder="Location (City / Branch)"
        required
        class="border p-2 rounded w-full"
      />
    </div>

    <div>
      <label class="block text-sm mb-1"> Comment </label>
      <textarea
        name="comment"
        placeholder="Review Comment"
        required
        rows="5"
        class="w-full border p-3 rounded"
      ></textarea>
    </div>

    <div class="flex gap-3 pt-4">
      <button class="btn-primary">Save</button>

      <a href="/admin/reviews" class="px-4 py-2 border rounded"> Cancel </a>
    </div>
  </form>
</div>
