<h2 class="text-xl font-bold mb-4">Add Review</h2>

<form method="POST" class="bg-white p-6 shadow w-1/2">
  <input
    name="guestName"
    placeholder="Guest Name"
    required
    class="border p-2 w-full mb-3"
  />

  <input
    type="number"
    name="rating"
    min="1"
    max="5"
    required
    placeholder="Rating (1-5)"
    class="border p-2 w-full mb-3"
  />

  <input
    name="location"
    placeholder="Location (City / Branch)"
    required
    class="border p-2 w-full mb-3"
  />

  <textarea
    name="comment"
    placeholder="Review Comment"
    required
    class="border p-2 w-full mb-3"
  ></textarea>

  <button class="bg-blue-600 text-white px-4 py-2">Save</button>
</form>
